.odds {
    background-color: #ffb6c1;
    font-family: Verdana, DejaVuSans, sans-serif;
}

#oneid {
    color: #0000ff;
    font-size: 36px;
}

.font {
    font-size: 24px;
}

#twoid {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}