body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  padding: 10px;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 10px;
  padding-left: 5px;
}

.content {
  background: #e3f4ff;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 5px;
  margin: 10px auto;
}

.button-container {
  background: #e3f4ff;
  padding: 10px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  font-size: 13px;
  padding: 10px 15px;
  display: block;
  margin: auto;
}