html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

.parent {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: flex-end;
  height: 300px; 
  gap: 10px;
}

.child {
  width: 100px;  
  height: 100px; 
  /* margin: auto;  */
}
